.brand__about__container {
  max-width: 80%;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.brand__heading {
  font-size: 7rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 2rem;
  text-align: center;
}

.subHeading__container {
  max-width: 70%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.brand__sub__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
  line-height: 3.7rem;
  text-align: center;
}

.highlighText {
  font-size: 2.7rem;
  font-weight: 700;
  color: #00a4e1;
  line-height: 3.7rem;
  text-align: center;
}

.get__started__btn__container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.getStarted__btn {
  width: 20rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #00a4e1;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.seacrch__input__box {
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
}

.search__icon {
  width: 3rem;
  height: 3rem;
  color: #ccc;
  object-fit: contain;
}

.quick__search__inp {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.75rem;
  font-weight: 500;
  color: #000;
  background-color: transparent;
}
