.getStarted__container {
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 2rem;
}

.left__side__container {
  max-width: 100%;
  height: calc(100vh - 8rem);
}

.right__side__container {
  max-width: 100%;
  height: calc(100vh - 8rem);
  overflow: hidden;
  overflow-y: scroll;
}

.right__side__container::-webkit-scrollbar {
  width: 0.2rem;
}

.right__side__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.right__side__container::-webkit-scrollbar-thumb {
  background-color: #00a4e1;
  border-radius: 1rem;
  outline: 1px solid slategrey;
}
