.avatar {
  width: 7rem;
  height: 7rem;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: contain;
}
.avatar-sm {
  width: 2rem;
  height: 2rem;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: contain;
}
.avatar-md {
  width: 4rem;
  height: 4rem;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: contain;
}
.avatar-lg {
  width: 6rem;
  height: 6rem;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: contain;
}
