@import url("./Button.css");
@import url("./avatar.css");
@import url("./alert.css");
@import url("./badges.css");
@import url("./card.css");
@import url("./image.css");
@import url("./input.css");
@import url("./text.css");
@import url("./list.css");
@import url("./nav.css");
@import url("./grid.css");
@import url("./modal.css");

:root {
  --primary-color: #3b82f6;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --grey-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #ffffff;
  --lynx-white-color: #f7f7f7;
  --voilet-color: #5348c7;
  --lynx-gray-color: #c5c5c5;
  --failed-color: rgb(231, 52, 52);
  --warning-color: #ffeb3b;
  --text-red: red;
  --text-green: green;
  --text-blue: blue;
  --text-cyan: cyan;
}
