.header_menu {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  gap: 1rem;
}

.header_component {
  background: var(--primary-color);
  width: 100%;
  height: 3.125rem;
  align-items: center;
  padding: 0px 0.625rem;
  justify-content: space-between;
  color: var(--white-color);
  display: flex;
  flex-direction: row !important;
}

.header_menu .icons {
  font-size: 2rem;
}

.header__btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__btns .icons {
  font-size: 2rem;
}
